bots
node_modules
build

public/main.js
public/main.css
public/main.js.map
public/main.js.LICENSE.txt
public/main.css.map

test/images
test/common
test/bots
test/verify/__pycache__

translations/compiled

cockpit-composer.spec
*.tar.gz
*.rpm
*FAIL*
