build/
node_modules
dist/main.js
dist/main.css
db.json
core/build-version.json
npm-debug.log
cockpit-composer.spec
package-lock.json
/po/etag-cache.json
/po/*.pot
tmp/weblate-repo
bots
/test/images
*.tar.gz
*.rpm
/tmp
.nyc_output
screen_error
wdio_report
composer.covered
test/common
Test*FAIL*
__pycache__
translations/compiled