build/
node_modules
public/index.html
public/dist
public/css
public/fonts
public/img
public/po.*.js
db.json
core/build-version.json
npm-debug.log
cockpit-composer.spec
package-lock.json
/po/etag-cache.json
/po/*.pot
tmp/weblate-repo
bots
/test/images
*.tar.gz
*.rpm
/tmp
.nyc_output
screen_error
wdio_report
composer.covered
