
.navbar-brand {line-height: 35px;} /* without an icon in the masthead, the logo sits too high relative to other elements */
.toolbar-pf-results-none {border: none;}
.toolbar-pf-results-none > div { display: none;}
[data-toggle] {cursor: pointer;}
.list-view-pf-additional-info-item .label {margin: .5em 0;}
.card-pf-body .dl-horizontal dd {
  margin-left: 50%;
}
.card-pf-body .dl-horizontal dt {
  width: 45%;
}
/*.card-view-pf {
  margin: 0 -10px;
}*/
.card-view-pf .card {
  border: 1px solid transparent;
  height: auto;
  margin: 0 10px 10px;
  width: auto;
  text-align: left;
  float: none;
}
.card-pf-title {
  font-size: 14px;
  margin: 10px 0;
}

/*List View*/
.blank-slate-pf {margin-top:30px;}

@media (min-width: 992px) {
  .list-view-pf .list-group-item-heading {
      flex: 1 0 calc(40% - 20px);
      float: left;
      font-size: 12px;
      margin: 0 20px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(40% - 20px);
  }
  .list-view-pf .list-group-item-text {
      flex: 1 0 auto;
      float: left;
      margin: 0 40px 0 0;
      width: calc(60% - 40px);
  }
}
