{
  "globals": {
    "document": true
  },
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "func-names": ["error", "never"],
    "mocha/no-exclusive-tests": "error",
    "import/no-unresolved": ["error", { "ignore": ["nightmare'"] }],
    "max-len": ["error", 130]
  }
}
