{
  "globals": {
    "document": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "env": {
    "jest": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "func-names": ["error", "never"],
    "no-eval": "off",
    "no-unused-vars": "off",
    "import/no-unresolved": ["error", { "ignore": ["nightmare'"] }],
    "max-len": ["error", 130],
    "no-console": ["error", { "allow": ["error"] }]
  }
}
